table {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

#img_coche {
    width: 150px;
}

#img_avion {
    width: 150px;
}

#img_titanic {
    width: 150px;
}